:root {
    --yellow: rgb(219, 219, 183);
    --white: white;
}
.tittle{
    color: black;
}
.logo{
    position: absolute;
    width: 10%;
    margin-right: 1000px;
    margin-top: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.piekarnia {
    position: absolute;
    font-weight: lighter;
    margin-top: 100px;
    margin-right: 500px;
    font-size: 25px; 
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.numer {
    position: absolute;
    margin-top: 70px;
    margin-left: 600px;
    color: rgb(158, 137, 16);
    font-size: 25px;
}

.fb {
    position: absolute;
    margin-top: 50px;
    margin-left: 850px;
}

.kierunkowy {
    color: rgb(158, 137, 16);
    position: absolute;
    margin-top: 43px;
    margin-left: 400px;
}

.firma {
    position: absolute;
    margin-top: 170px;
    font-size: 15px;
    margin-right: 400px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.produkty {
    position: absolute;
    margin-top: 170px;
    font-size: 15px;
    margin-right: 200px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.pieczywo {
    position: absolute;
    margin-top: 170px;
    font-size: 15px;
    margin-left: 140px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.mapka {
    position: absolute;
    margin-top: 170px;
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: normal;
    margin-left: 620px;
}

.galeria {
    position: absolute;
    margin-top: 170px;
    font-size: 15px;
    margin-left: 420px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.kontakt {
    position: absolute;
    margin-left: 820px;
    text-decoration: none;
    color: rgb(158, 137, 16);
    font-size: 15px;
    margin-top: 170px;
}

.baner {
    width: 100%;
    height: 360px;
}

.bakery {
   width: 100%;
    height: 100%;
    margin-top: 100px;
}

.informacje {
    position: static;
    overflow: hidden;
    height: 500px;
    margin-top: 60px;
    margin-left: -220px;
    background: linear-gradient(to right bottom, var(--yellow), var(--white));
    border: 3px solid rgb(211, 190, 68);
    border-width: 0 0 3px 0;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
    color: rgb(66, 65, 65);
}

.dane {
    width: 384px;
    height: 600px;
    position: absolute;
    margin-left: 360px;
    margin-top: 50px;
}

.obsługa {
    width: 384px;
    height: 600px;
    position: absolute;
    margin-left: 730px;
    margin-top: 50px;
}

.dzial {
    width: 384px;
    height: 600px;
    position: absolute;
    margin-left: 1100px;
    margin-top: 50px;
}

.danetekst {
    margin-top: 25px;
    font-weight: bold;
}

.adres {
    margin-top: 10px;
    font-size: 25px;
    color: rgb(175, 154, 14);
}

.dni {
    margin-top: 25px;
}

.telefon {
    margin-top: 25px;
}

.email1 {
    margin-top: 25px;
}

.formularz {
    position: static;
    height: 800px;
    margin-left: -300px;
}

input {
    width: 300px;
    height: 45px;
    border: 1px solid rgb(177, 158, 46);
    outline: none;
    text-align: center;
}

.imie {
    position: absolute;
    margin-left: 500px;
    margin-top: 30px;
}

.mail {
    position: absolute;
    margin-left: 820px;
    margin-top: 30px;
}

.phone {
   position: absolute;
    margin-left: 1140px;
    margin-top: 30px;
}

.tresc {
    position: absolute;
    margin-top: 120px;
    margin-left: 500px;
}

textarea {
    width: 940px;
    height: 200px;
    border: 1px solid rgb(177, 158, 46);
}


input.small {
    width: 15px;
    height: 15px;
}

.tekst {
    position: absolute;
    margin-top: 425px;
    margin-left: 500px;
}

.tekst2 {
    position: absolute;
    margin-top: 500px;
    margin-left: 500px;
}

.tekst3 {
    position: absolute;
    margin-top: 570px;
    margin-left: 500px;
}

.koncowka {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 7, 66);
    height: 170px;
    color: white;
}

.copyright {
    font-size: 12px;
    margin-right: 1600px;
}

.chleby {
    font-size: 12px;
    margin-right: 1000px;
    position: absolute;
}

.prawa {
    font-size: 12px;
    position: absolute;
    margin-right: 1520px;
    margin-top: 50px;
}
.przycisk{
    position: absolute;
    margin-top: 360px;
    margin-left: 900px;
    width: 200px;
    height: 45px;
    background: transparent;
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
}
.przycisk:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
.przycisk:hover {
    background: #fff;
    color:  rgb(177, 158, 46);
    cursor: pointer;
  }